@media (max-width: 768px) {
    #navbar {
        padding: 10px 30px; 
    }

    #navlist {
        flex-direction: column; 
        gap: 12px;
        display: none;
    }

    .hamburger {
        position: absolute;
        right: 100px; 
        top: 50%; 
        transform: translateY(-50%); 

    }

    #video iframe, #video2 iframe {
        width: 80%; 
        height: 200px; 
    }

    .logo {
        gap: 8px;
    }

    .text, .text2 {
        padding: 0 15px; 
    }
}