body {
    font-family: Lato, sans-serif;
    color: white;
    margin: 0 0;
    background: linear-gradient(to right, black, rgb(32, 0, 0));
    
}
/* Barra Navigazione */
#navbar {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;
    padding: 10px 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
#navlist {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 24px;

}
#navlist a {
    text-decoration: none;
    color: white;
}
#navbar img {
    border-radius: 50px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}
 /* Fine Barra */
#video {
 text-align: center;
 margin-top: 200px;
}
.text {
    text-align: center;
}
#video iframe{
    box-shadow: 0 0 50px rgb(255, 0, 0);
}
#video2 {
    text-align: center;
    margin-top: 80px;
   }
   .text2 {
       text-align: center;
   }
#video2 iframe {
    box-shadow: 0 0 50px purple;
}

.hamburger {
    width: 20px;
    margin-left: auto;
}
#footer {
    background: linear-gradient(to right, black, rgb(22, 22, 22));
    color: #555555;
    text-align: center;
    padding: 10px 5px;
    font-size: 0.9rem;
}

#footer a {
    color: #840200;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s;
}

#footer a:hover {
    color: #ffffff;
}
