body {
    font-family: Lato, sans-serif;
    color: white;
    margin: 0 0;
    background: linear-gradient(to right, black, rgb(32, 0, 0));
    padding: 0;
    
}
#navbar {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;
    padding: 10px 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
#navlist {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 24px;

}
#navlist a {
    text-decoration: none;
    color: white;
}
#navbar img {
    border-radius: 50px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact-container {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px ;
}
.contact-left-title h2 {
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: rgb(156, 10, 10);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contact-left textarea {
    height: 140px;
    padding: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid firebrick;
}
.contact-inputs::placeholder{
    color: rgb(0, 0, 0);
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(red, purple);
    cursor: pointer;
}

main {
    margin-top: 100px;
}
.contact-right img {
    border-radius: 50%;
    box-shadow: 0 0 500px red;

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 0.9rem;
    margin: 0;

}
main {
    flex-grow: 1;
    padding-bottom: 0;
    margin-bottom: 0;
}

#footer a {
    color: firebrick;
    text-decoration: none;
    margin: 0 8px;
    transition: color 0.3s;
}

#footer a:hover {
    color: white;
}

@media  (max-width:600px) {
    .contact-inputs{
        width: 80vw;

    }
    .contact-right{
        display: none;
    }
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-x: hidden; /* Evita scrolling orizzontale */
    }

    /* Media Query per schermi tra 1024px e 1440px */
@media (max-width: 1440px) and (min-width: 1024px) {
    #footer {
        margin: 0;
        padding: 15px;
        width: 100%;
        position: relative;
        bottom: 0;
        display: none;
    }
}

}
