body {
    font-family: Lato, sans-serif;
    margin: 0px 0px;
    color: white;
    background-color: rgb(83, 83, 83);
}
#logo {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;

}
#navlist {
    display: flex;
    gap: 24px;
    list-style: none;
}

#navbar {
    display: flex;
    align-items: center;
    background-color: black;
    box-shadow: 0 0 50px purple;
    padding: 10px 60px;
}
.imglogo {
    border-radius: 50px;
    box-shadow: 0 0 30px rgb(219, 0, 0);
}
#hamburger {
    margin-left: auto;
    margin-right: 24px;
}

a {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-in-out;
}

a:hover {
    transform: scale(1.05);
    color: rgb(195, 0, 255);

}

.contact-container {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px ;
}
.contact-left-title h2 {
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: rgb(156, 10, 10);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contact-left textarea {
    height: 140px;
    padding: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid firebrick;
}
.contact-inputs::placeholder{
    color: rgb(0, 0, 0);
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(red, purple);
    cursor: pointer;
}


main {
    margin-top: 100px;
}
.contact-right img {
    border-radius: 50%;
    box-shadow: 0 0 500px red;

}
@media  (max-width:600px) {
    .contact-inputs{
        width: 80vw;

    }
    .contact-right{
        display: none;
    }
}
